{% extends 'base.html' %}
{% load static %}
{% block main %}
  <!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Jumbotron-->
      <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 my-5">

          <h1 class="mb-4">
            <strong>현's 스튜디오</strong>
          </h1>
          <p>
            <strong>Django 기반 웹사이트 제작</strong>
          </p>
          <p class="mb-4">
            <strong>당신의 소중한 고객과 데이타는 Hyen's Studio의 유창하고 안정된 웹 서비스로 업그레이드 됩니다.<br>
10년의 전통을 가진 Hyen's Studio는 고객맞춤형 서비스를 적당한 가격과 최단 시간에 약속드립니다.</strong>
          </p>
          <a href="../contact/" class="btn btn-outline-white btn-lg">CONTACT US
            <i class="far fa-comment-alt  ml-2"></i>
          </a>

        </div>
        <!-- Content -->
      </section>
      <!--Section: Jumbotron-->

      <hr class="my-5">

      <!--Section: Cards-->
      <section class="text-center">
        <h2 class="h1 text-center mb-5 blue-text">PORTFOLIO</h2>
        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'img/port01.jpg' %}" class="card-img-top" alt="">
                <a href="#;" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title"></h4>
                <!--Text-->
                <p class="card-text">포트폴리오01</p>
                <p class="card-text">
                  <strong></strong>
                </p>
              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'img/port02.jpg' %}" class="card-img-top" alt="">
                <a href="#;" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title"></h4>
                <!--Text-->
                <p class="card-text">포트폴리오02</p>
                <p class="card-text">
                  <strong></strong>
                </p>
              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'img/port03.jpg' %}" class="card-img-top" alt="">
                <a href="#;" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title"></h4>
                <!--Text-->
                <p class="card-text">포트폴리오03</p>
                <p class="card-text">
                  <strong></strong>
                </p>
              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->


          {% comment %} <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg" class="card-img-top"
                  alt="">
                <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Bootstrap Automation</h4>
                <!--Text-->
                <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to
                  his behavior.</p>
                <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank"
                  class="btn btn-primary btn-md">Start tutorial
                  <i class="fas fa-play ml-2"></i>
                </a>
              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column--> {% endcomment %}

        </div>
        <!--Grid row-->

        {% comment %} <!--Pagination-->
        <nav class="d-flex justify-content-center wow fadeIn">
          <ul class="pagination pg-blue">

            <!--Arrow left-->
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page-item active">
              <a class="page-link" href="#">1
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!--Pagination--> {% endcomment %}

        <hr class="my-5">
        <h2 class="h1 text-center mb-5 blue-text">Favoured</h2>
        
        <div class="col-md-12 flex-wrap flex-row flex-wrap justify-start items-start">
          <ul class="font-list d-flex flex-wrap list-unstyled">
            <li class="icon-tile"><i class="fab fa-chrome fa-5x"></i></li>
            <li class="icon-tile"><i class="fab fa-linux fa-5x"></i></li>
            <li class="icon-tile"><i class="fab fa-github fa-5x"></i></li>
            <li class="icon-tile"><i class="fab fa-js fa-5x"></i></li>
            <li class="icon-tile"><i class="fab fa-react fa-5x"></i></li>
            <li class="icon-tile"><i class="fab fa-python fa-5x"></i></li>
            <li class="icon-tile"><i class="fas fa-database fa-5x"></i></li>
            <li class="icon-tile"><i class="fas fa-terminal fa-5x"></i></li>
            <li class="icon-tile"><i class="fab fa-docker fa-5x"></i></li>
            
          </ul>
        </div>
    </div>
  </main>
  <!--Main layout-->

{% endblock main %}
